@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: var(--color-bg); 
  box-shadow: 0 16px 14px 0 #2c0c0f;
  padding: 18px 24px;
  max-width: 400px;
  width: 45%;
  height: auto;
  cursor: pointer;
}

.expanded {
  height: auto;
}

.image {
  margin-bottom: 26px;
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  font-size: 20px;
  font-weight: 400;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 15px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 22px;
}

@media screen and (max-width: 830px) {
  .container {
    max-width: 50%;
  }

  .title {
    font-size: 18px;
  }

  .description {
    font-size: 18px;
  }

  .skills {
    margin-top: 10px;
  }

  .skill {
    font-size: 14px;
    padding: 2px 16px;
  }
}