.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px; /* Adjust as needed */
  min-height: 90vh; /* Set a minimum height for the container */
  background-color: var(--color-primary);
  background-size: cover;
  background-position: center;
  margin-bottom: 0; /* Ensure no bottom margin */
}


.content {
  z-index: 1; /* Ensure text is above background */
  text-align: center; /* Center-align text */
}

.title {
  color: var(--color-accent); /* Change text color to white or a contrasting color */
  font-size: 50px; /* Maintain larger font size */
  font-weight: bolder; /* Make it bold */
  margin-bottom: 15px; /* Space between title and description */
}

.description {
  color: var(--color-text2); /* Change text color to white or a contrasting color */
  font-size: 20px; /* Adjust font size for better readability */
  max-width: 800px; /* Limit width of description for better layout */
  line-height: 1.5; /* Improve readability */
}

.buttons {
  margin-top: 30px; /* Increase space above buttons */
}

.iconContainer {
  margin-bottom: 20px; /* Space between icon and name */
  display: flex;
  justify-content: center; /* Center the icon */
  color: var(--color-text2);
}

.resumeBtn {
  padding: 12px 24px; /* Add padding to button for better touch target */
  background-color: var(--color-accent); /* Button color */
  color: white; /* Button text color */
  border-radius: 5px; /* Rounded corners */
  text-decoration: none; /* Remove underline */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  font-size: 18px; /* Increase font size for better visibility */
}

.resumeBtn:hover {
  background-color: #2ECC71; /* Darken button on hover */
}

@media screen and (max-width: 830px) {
  .container {
    padding: 30px 15px; /* Adjust padding for smaller screens */
    min-height: 50vh; /* Set a minimum height for smaller screens */
    max-height: 70vh; /* Adjust maximum height for smaller screens */
  }

  .title {
    font-size: 36px; /* Decrease font size for mobile */
  }

  .description {
    font-size: 18px; /* Decrease description font size for mobile */
  }
}
