@import "../../vars.css";

.container {
  color: var(--color-text1);
  position: relative;
  margin-top: 0;
  z-index: auto;
  background-color: var(--color-secondary);
  padding-bottom: 50px;
}

.title {
  color: var(--color-text1);
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center; /* Center align the title */
  padding: 10px;
  background-color: var(--color-secondary);
}

.content {
  display: flex;
  flex-direction: row; /* Keep it in a row */
  align-items: center; /* Align items vertically in the center */
  padding-bottom: 50px;
  background: var(--color-secondary);
  z-index: auto;
}

.imageContainer {
  width: 40%; /* Adjust width as necessary */
}

.textContainer {
  width: 50%; /* Adjust width as necessary */
  padding-left: 100px;
  color: var(--color-text1);
  font-size: 25px;
  font-style: italic;
  text-align: justify;
}

.aboutImage {
  width: 92%;
  border: 8px solid var(--color-primary);
  border-radius: 15px;
  margin-left: 2rem;
}

@media screen and (max-width: 830px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .title {
    font-size: 25px;
  }

  .content {
    flex-direction: column; /* Stack image and text vertically on small screens */
    align-items: stretch; /* Center content */
  }

  .imageContainer {
    width: 100%; /* Full width on smaller screens */
  }

  .textContainer {
    width: 100%;
    font-size: 20px;
    padding: 25px;
  }
}
