@import "../../vars.css";

.container {
  color: var(--color-text1);
  position: relative;
  padding: 40px 10%;
  background-color: var(--color-secondary);
  text-align: center;
}

.title {
  font-size: 60px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 40px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.button {
  background-color: var(--color-primary);
  color: var(--color-text2);
  padding: 15px 25px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: transform 0.3s, background-color 0.3s;
}

.button img {
  width: 30px; /* Icon size */
  margin-right: 10px;
}

.button:hover {
  transform: translateY(-5px); /* Lift effect on hover */
  background-color: var(--color-accent); /* Change background color on hover */
}
