@import "../../vars.css";

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  z-index: 2;
  background-color: var(--color-secondary);
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text1);
}

.menuBtn {
  display: none; /* Initially hidden */
  cursor: pointer;
  z-index: 4; /* Ensure it's above other elements */
  width: 30px; /* Set width for better visibility */
  height: auto; /* Maintain aspect ratio */
}

.menu {
  display: flex;
  align-items: center; /* Center the items vertically */
  margin-right: 20px;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: 30px;
  color: var(--color-text1);
  text-decoration: none;
  font-weight: bold;
}

.menuItems a:hover {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text2);
  border-radius: 100px;
  font-size: 30px;
  font-weight: bold;
  padding: 10px 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 830px) {
  .navbar {
    padding: 10px; /* Adjust padding for mobile */
  }

  .menu {
    position: relative; /* Change to relative for better layout */
    flex-direction: column;
    align-items: flex-end; /* Align items to the right */
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block; /* Show hamburger icon on mobile */
  }

  .menuItems {
    display: none; /* Hide menu items initially */
    position: absolute; /* Position absolutely to avoid expanding navbar */
    right: 0; /* Align to the right of the navbar */
    top: 100%; /* Position below the navbar */
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgba(44, 62, 80, 0.8); /* Darker background for visibility */

    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease; /* Optional: smooth transition */
  }

  .menuOpen {
    display: flex; /* Show menu items when opened */
  }
}
