@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  z-index: 1;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
}

.history {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.historyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  background: var(--color-bg);
  border-radius: 15px;
  padding: 24px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.historyItem img {
  width: 50px;
}

.historyItemDetails {
  font-family: var(--font-roboto);
}

.historyItemDetails h3 {
  font-size: 30px;
  font-weight: bold;
}

.historyItemDetails p {
  font-size: 20px;
}

.historyItemDetails ul {
  margin-top: 6px;
  list-style-position: inside;
  font-size: 20px;
  list-style-type: disc;
  margin-left: 5px;
  font-style: italic;
}

.topBlur,
.bottomBlur {
  position: absolute;
  width: 40vw;
  height: 40vw;
  min-width: 300px;
  top: -50px;
  border-radius: 50%;
  background: rgba(140, 43, 50, 0.7);
  filter: blur(100px);
  z-index: -1;
  opacity: 0.5;
}

.topBlur {
  left: -20vw;
}

.bottomBlur {
  right: -20vw;
}

@media screen and (max-width: 830px) {
  .content {
    align-items: center;
    gap: 34px;
  }

  .history {
    width: 100%;
    gap: 9px;
  }
}
