:root {
  /* Colors */
  --color-text: #fff;
  --color-primary: #5d5c31; 
  --color-secondary: #8c2b32;
  --color-dark: #2c0c0f;
  --color-bg: rgba(140, 43, 50, 0.7);

  /* Fonts */
  --font-roboto: "Roboto";
  --font-impact: "Impact";
}